* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: black;
    background: rgba(104, 25, 11, 0.938);
}

header{
    font-family: fantasy;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: center;
    background-color: #1c5274;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.nas {
    color: white;
}

nav {
    padding-top: 15px;
    margin-left: 202px;
    float: right;
    font-family: fantasy;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color:rgba(104, 25, 11, 0.938) ;
}

p {
    line-height: 20px;
    font-size: 18px;
    font-family: fantasy;
    color: white;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 80%;
    justify-content: right;
    display: flex;
}

section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: fantasy;
    background-color: #1c5274;
    color: rgba(0, 0, 0, 0.842);
}

.flex-container {
    display: flex;
}


footer {
    text-align: center;
}